.container

    %h2 Create new Selling Advert:
    %br

    = render partial: 'layouts/form_errors', locals: {subject: @accommodation}

    .col-sm-12
        = form_for @accommodation, url: accommodations_path, html: {class: 'form-vertical'} do |f|
            = f.hidden_field :accommodation_type, value: @accommodation.accommodation_type
            = f.hidden_field :location_id, value: @accommodation.location_id

            .panel.panel-default
                .panel-body
                    .form-group
                        .row
                            .col-sm-12
                                = f.label :title, class: 'required'
                                = f.text_field :title, class: 'form-control'

                            .col-sm-12
                                %br
                                = f.label :description, class: 'required'
                                = f.text_area :description, class: 'form-control', rows: 6
                    .form-group
                        .row
                            .col-sm-2
                                = f.label :price, class: 'required', style: 'margin-top: 10px'
                            .col-sm-10
                                = f.text_field :price,
                                    data: {autonumeric: {aSign: 'R ', mDec: 2}},
                                    class: 'form-control',
                                    placeholder: 'R 00.00'

            .panel.panel-default
                .panel-heading
                    Location
                .panel-body
                    %span.help-block
                        Advertising the location of the item is critical since people want to buy items in a certain area.
                        Specify the location as accurately as possible.
                    .form-group
                        = render partial: 'locations/location_picker', locals: {starting_location: @accommodation.location}

            .panel.panel-default
                .panel-heading
                    Information
                .panel-body
                    %span.help-block
                        These fields are important for your advert. They allow people to search for
                        and filter for the adverts they'd like based on what kind of accommodation you are selling.

                    .form-group
                        .row
                            .col-sm-6.pad-top-5.pad-bottom-5
                                = f.label :dwelling_type, class: 'required'
                                %span.help-block What kind of dwelling is it?
                                = f.select :dwelling_type, humanize_enums(Accommodation.dwelling_types),
                                    {include_blank: '----'},
                                    class: 'form-control'

                            .col-sm-6.pad-top-5.pad-bottom-5
                                = f.label :advertiser_type
                                %span.help-block Who is selling the accomodation?
                                = f.select :advertiser_type, humanize_enums(Accommodation.advertiser_types),
                                    {include_blank: '----'},
                                    class: 'form-control'


                            .col-sm-6.pad-top-5.pad-bottom-5
                                = f.label :size_sqm
                                %span.help-block How large is the accomodation? (in square meters)
                                = f.text_field :size_sqm, data: {autonumeric: {mDec: 0}}, class: 'form-control'

                            .col-sm-6.pad-top-5.pad-bottom-5
                                = f.label :bedrooms
                                %span.help-block How many bedrooms does the dwelling have?
                                = f.text_field :bedrooms, data: {autonumeric: {mDec: 0}}, class: 'form-control'

                            .col-sm-6.pad-top-5.pad-bottom-5
                                = f.label :bathrooms
                                %span.help-block How many bathrooms does the dwelling have?
                                = f.text_field :bathrooms, data: {autonumeric: {mDec: 0}}, class: 'form-control'

                            .col-sm-6.pad-top-5.pad-bottom-5
                                = f.label :parking_type
                                %span.help-block Is parking available?
                                = f.select :parking_type, humanize_enums(Accommodation.parking_types),
                                    {include_blank: '----'},
                                    class: 'form-control'

            .panel.panel-default
                .panel-heading
                    Restrictions
                .panel-body
                    %span.help-block
                        Some properties, such as apartments, have restrictions. Which of these apply to your property?
                    .row
                        .col-sm-6.pad-top-5.pad-bottom-5
                            %label.checkbox
                                = f.check_box :pets_allowed
                                = :pets_allowed.to_s.humanize

                        .col-sm-6.pad-top-5.pad-bottom-5
                            %label.checkbox
                                = f.check_box :smoking_allowed
                                = :smoking_allowed.to_s.humanize

            %small{style: 'color: #a00'}
                * indicates a required field.

            .pull-right
                = f.submit 'Save', class: 'btn btn-md btn-info'
                = link_to 'Back', new_accommodation_path, class: 'btn btn-md btn-default'
            .clearfix

- content_for :javascripts do
    :coffeescript
        new LocationPickerTree 'accommodation_location_id'

